@model Users


@{
    ViewBag.Title = "Şifre Hatırlatma Ekranı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifre Hatırlatma Ekranı</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <form asp-action="PasswordRemember" method="post">
        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <input asp-for="Email" class="form-control" , placeholder="Mail adresini giriniz" />
        </div>

        <button type="submit" class="btn btn-block btn-success">Şifremi Gönder</button>
        <p class="p-0 text-muted">@TempData["Remember"]</p>
    </form>


</body>
</html>
