@{
    ViewBag.Title = "Hakkımda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href="/css/css.css" rel="stylesheet" />


<div class="container">
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">Ben Kimim</h2>
                        <p>
                            Öncelikle size kendimden bahsedeyim. 1981 Burdur doğumluyum. İlkokulu K.Maraş/Elbistan'da, Ortaokul ve Lise'yi ise Isparta'da okudum.
                            1999'da ilk ÖSS sistemi ile İTÜ Bilgisayar Mühendisliğini kazandım ve 1999 yılından beri İstanbul'da yaşıyorum.
                            Evliyim ve bir oğlum var. Özel bir bankada Yazılım Uzmanı olarak çalışıyorum.
                        </p>
                        <p>Bu sayfayı vakit buldukça, .NET MVC ile geliştirmeyi düşünüyorum. Umarım beğenirsiniz. </p>
                        @* <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>                        <a class="aboutus-more" href="#">read more</a>*@
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/font/ben.jpeg" align="right" />
                </div>

            </div>
        </div>
    </div>

</div>